In [4]:
import pandas as pd
df = pd.read_csv('C:/Users/Home PC/Desktop/Word game/dictionary_2.TXT', sep = '@')
#english_word,russian_word

In [5]:
df

,english_word,transcription,russian_word
0,ab-,NaN,", словах, с общим значением удаления"
1,ab-unit,NaN,"абсолютная единица системы СГСЭ или СГСМ,"
2,aba,NaN,"аба, свободная верхняя одежда из верблюжьей ил..."
3,abaca,[ɑːbɑːˈkɑː],абака
4,abaci,[ˈæbəsaɪ],"счеты, абак, абака, мозаичная панель, номограмма"
...,...,...,...
86055,zymurgy,NaN,технология бродильных производств
86056,zhdanov,NaN,"Жданов, ждановский"
86057,zloty,NaN,"злотый, злотый, национальная валюта Польши"
86058,zwieback,NaN,"сухарь, галета, сдобный сухарь"
86059,zwitterion,NaN,"ион, амфотерный ион, амфион"

In [13]:
df.to_csv('C:/Users/Home PC/Desktop/Word game/dictionary_2.csv', index = False)

In [13]:
import pandas as pd
df = pd.read_csv('C:/Users/Home PC/Desktop/Word game/dictionary.TXT', sep = '@')

In [14]:
df

       english_word                                     russian_word
0             a few                                        несколько
1          a little                                          немного
2      a sprinkling                                          немного
3           a table  стол\t(10 roubles ~ dozen) десять рублей дюжина
4          a trifle                                         немножко
...             ...                                              ...
51376       zooming             изменять масштаб изображения\tнаплыв
51377         zorch                                      прокачивать
51378          zulu                                 зулус\tзулусский
51379      zwieback                                           сухарь
51380        zygote                                           зигота

[51381 rows x 2 columns]

In [79]:
df.to_csv('C:/Users/Home PC/Desktop/Word game/dictionary.csv', index = False)

In [81]:
df_2 = pd.read_csv('C:/Users/Home PC/Desktop/Word game/dictionary.csv',sep=',')

In [82]:
df_2

       english_word                                     russian_word
0             a few                                        несколько
1          a little                                          немного
2      a sprinkling                                          немного
3           a table  стол\t(10 roubles ~ dozen) десять рублей дюжина
4          a trifle                                         немножко
...             ...                                              ...
51375       zooming             изменять масштаб изображения\tнаплыв
51376         zorch                                      прокачивать
51377          zulu                                 зулус\tзулусский
51378      zwieback                                           сухарь
51379        zygote                                           зигота

[51380 rows x 2 columns]

In [17]:
df[df['english_word'] == 'zygote']

      english_word russian_word
51380       zygote       зигота

In [11]:
df.iloc[51805]

english_word                             null-space
transcription                                   NaN
russian_word     пространство, нулевое пространство
Name: 51805, dtype: object

In [12]:
df = df[df['english_word'].notna()]
#51381

In [26]:
df

       english_word                                     russian_word
0             a few                                        несколько
1          a little                                          немного
2      a sprinkling                                          немного
3           a table  стол\t(10 roubles ~ dozen) десять рублей дюжина
4          a trifle                                         немножко
...             ...                                              ...
51376       zooming             изменять масштаб изображения\tнаплыв
51377         zorch                                      прокачивать
51378          zulu                                 зулус\tзулусский
51379      zwieback                                           сухарь
51380        zygote                                           зигота

[51380 rows x 2 columns]

In [31]:
buf_df = df[df['english_word'].apply(lambda x: 1 if x[:1] == 'z' else 0) == 1]
buf_df

      english_word                          russian_word
51264   zabaglione                                десерт
51265       zagged                           сворачивать
51266        zaire                                  заир
51267      zairian                      заирец\tзаирский
51268      zambezi                               замбези
...            ...                                   ...
51376      zooming  изменять масштаб изображения\tнаплыв
51377        zorch                           прокачивать
51378         zulu                      зулус\tзулусский
51379     zwieback                                сухарь
51380       zygote                                зигота

[117 rows x 2 columns]

In [33]:
buf_df.sample()

      english_word russian_word
51356      zombies        зомби

In [37]:
z = buf_df.sample().index

In [42]:
used_words = []

In [44]:
used_words.append(z)

In [45]:
used_words

[Int64Index([51298], dtype='int64')]

# Начало

In [51]:
print('Введите слово:')
user_word = input()

Введите слово:
dog

## Проверить, что слово существует и показать его перевод

In [76]:
df[df['english_word'] == user_word]['russian_word'].index[0]

13336

In [73]:
try:
    #df[df['english_word'] == user_word]
    print(f'Отличное слово! {user_word} - это ' + df[df['english_word'] == user_word]['russian_word'].values[0])
except:
    print('Такого слова нет')

Отличное слово! dog - это собака	собачий

## Последняя буква

In [74]:
last_letter = user_word.lower()[-1:]
print('Последнаяя буква: ' + user_word.lower()[-1:])

Последнаяя буква: g

## Добавить слово в список использованных

In [87]:
z = df[df['english_word'] == user_word].index[0]
z

13336

In [89]:
buf_df = df[df['english_word'].apply(lambda x: 1 if x[:1] == last_letter else 0) == 1]
z = buf_df.sample()
#used_words.append(z)

In [95]:
z['english_word'].values[0]

'gracios'

In [84]:
used_words

[Int64Index([51298], dtype='int64'),
 Int64Index([17909], dtype='int64'),
 Int64Index([18155], dtype='int64')]

In [53]:
buf_df = df[df['english_word'].apply(lambda x: 1 if x[:1] == last_letter else 0) == 1]
buf_df

      english_word            russian_word
17585          gab       болтать\tболтовня
17586    gabardine  габардин\tгабардиновый
17587      gabarit                 габарит
17588        gabby               болтливый
17589        gable                   щипец
...            ...                     ...
18711       gyrate               вращаться
18712     gyration                вращение
18713    gyrfalcon                  кречет
18714  gyrocompass              гирокомпас
18715    gyroscope                гироскоп

[1131 rows x 2 columns]

In [56]:
computer_word = buf_df.sample()
computer_word

      english_word          russian_word
18052        glaze  глазировать\tглазурь